@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  position: sticky;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 1.4rem;
}

.navbar__logo {
  text-decoration: none;
  color: #0ea5e9;
  font-size: 24px;
  font-weight: 600;
}

.navbar__items {
  display: flex;
}

.navbar__item {
  margin: 0 0.6rem;
}

.navbar__items > a {
  text-decoration: none;
  color: #0ea5e9;
  font-size: 20px;
}

.navbar__actions {
  display: flex;
}

.navbar__actions .btn {
  margin: 0 0.6rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;

  padding-bottom: 10rem;
}

section {
  margin-top: 2.4rem;
}

.hero {
  display: flex;
  justify-content: center;

  margin-top: 1.3rem;
}

.hero__img {
  width: 1200px;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.container-title {
  display: flex;
  justify-content: space-between;
  margin: 1.4rem 0;
  align-items: center;
}

.container-title .title {
  color: #0ea5e9;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  justify-content: center;
}

.btn-primary {
  border: none;
  background-color: #0ea5e9;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.btn-secondary {
  border: 2px solid #0ea5e9;
  background-color: #fff;
  color: #0ea5e9;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
}

.card {
  width: 265px;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-bottom: 1.2rem;
}

.card__img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.card__body {
  padding: 0 0.8rem;
}

.space-y-14 > * + * {
  margin-top: 0.3rem;
}

.card__title {
  margin-top: 0.8rem;
}

.card__price {
  color: #f97316;
}

.card__stock {
  color: #0ea5e9;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  main {
    margin: 0 0.8rem;
  }
  .hero {
    margin: 0 0.8rem;
    margin-top: 1.2rem;
  }
  .hero__img {
    height: 160px;
  }
  .card {
    width: 100%;
  }
}
