@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  max-width: 1200px;
  margin: 0 auto;

  margin-top: 1.8rem;

  padding-bottom: 1.2rem;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  position: sticky;
  padding: 1rem 0;
}

.btn-primary {
  border: none;
  background-color: #0ea5e9;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.btn-secondary {
  border: 2px solid #0ea5e9;
  background-color: #fff;
  color: #0ea5e9;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 1.4rem;
}

.navbar__logo {
  text-decoration: none;
  color: #0ea5e9;
  font-size: 24px;
  font-weight: 600;
}

.navbar__items {
  display: flex;
}

.navbar__item {
  margin: 0 0.6rem;
}

.navbar__items > a {
  text-decoration: none;
  color: #0ea5e9;
  font-size: 20px;
}

.navbar__actions {
  display: flex;
}

.navbar__actions .btn {
  margin: 0 0.6rem;
}

.forms {
  padding: 1.8rem 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.4rem;
}

label {
  margin-bottom: 0.4rem;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 1.2rem;
  height: 2.4rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.dropdown select {
  height: 2.4rem;
}

.text-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  main {
    margin: 0 0.8rem;
    margin-top: 1.2rem;
  }
  .navbar {
    flex-direction: column;
  }
}
